@media screen and (max-width: 960px){
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /*top: -1000px;*/
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .navbar-menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }
    .navbar-toogle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease;
        background: #fff;
    }
    .navbar-item{
        width: 100%;
    }
    .navbar-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
}