/*-----------Fonts-------------*/
@font-face{
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Bold.otf);
    font-family: Proxima-bold;
    src: url(/fonts/proxima_ssv/ProximaNova-Regular.otf);
    font-family: Proxima-regular;
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Extrabold.otf);
    font-family: Proxima-extrabold;
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Thin.otf);
    font-family: Proxima-thin;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    background: #131313;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: Proxima-bold;
    font-size: 35px;
    font-weight: bolder;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;

}
.navbar-item{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight:  500;
    font-size: 18px;
}
.navbar-links{
    font-family: Proxima-bold;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    text-decoration: none;
    display: flex;
    transition: all 0.5s ease ;
}
.navbar-links:hover{
    color: #9518fc;
    text-decoration: none;
    transition: all 0.3s ease ;
}
.navbar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px ;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color:#fff ;
    transition: all 0.3s ease;
}
.button:hover{
    text-decoration: none;
}
