/*-----------Fonts-------------*/
@font-face{
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Bold.otf);
    font-family: Proxima-bold;
    src: url(/fonts/proxima_ssv/ProximaNova-Regular.otf);
    font-family: Proxima-regular;
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Extrabold.otf);
    font-family: Proxima-extrabold;
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Thin.otf);
    font-family: Proxima-thin;
}
*{
    box-sizing: border-box;
    background-position: center;
    margin: 0 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    background: #121212;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: auto;
    
}
#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: Proxima-bold;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 50px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 80px;
}
.navbar-item{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight:  500;
    font-size: 18px;
}
.navbar-links{
    font-family: Proxima-bold;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    text-decoration: none;
    display: flex;
    transition: all 0.5s ease ;
}
.navbar-links:hover{
    color: #9518fc;
    text-decoration: none;
    transition: all 0.3s ease ;
}
.navbar-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: ;
    color: #ffffff;
    font-family: Proxima-bold;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right #ff6a00,#ee0979);
    background: linear-gradient(to right, #ff6a00,#ee0979);
    transition: all 0.3s ease;
}
.navbar-btn:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(to right #8f0eff,#da22ff );
    background: linear-gradient(to right, #8f0eff,#da22ff);
}

/* Header*/
.hero{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0px;
}    
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}
.hero-heading{
    font-size: 100px;
    margin-bottom:24px ;
    color: #fff;
}
.hero-heading span{
    background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00,#ee0979);
    background: linear-gradient(to right, #ff6a00,#ee0979);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.hero-description{
    font-size: 60px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #9114ff,#da22ff);
    background: linear-gradient(to right,     );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}


