/*-----------Fonts-------------*/
@font-face{
    src: url(/fonts/proxima_ssv/ProximaNova\ Bold.otf);
    font-family: Proxima-bold;
    src: url(/fonts/proxima_ssv/Proxima\Nova\Regular.otf);
    font-family: Proxima-regular;
    src: url(/fonts/proxima_ssv/Proxima\ Nova\ Extrabold.otf);
    font-family: Proxima-extrabold;
    src: url(/fonts/proxima_ssv/ProximaNova\ Thin.otf);
    font-family: Proxima-thin;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: montserrat;
}
/*---------Navigation----------*/
nav{
    height: 80px;
    width: 100%;
    background: #121212;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active, a:hover{
    color: #ee0979;
    transition: .5s;
}
nav button{
    float: right;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 80px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 4px;
    background: -webkit-linear-gradient(to right #ff6a00,#ee0979);
    background: linear-gradient(to right, #ff6a00,#ee0979);
    transition: all 0.3s ease;
}
nav button:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(to right #8f0eff,#da22ff );
    background: linear-gradient(to right, #8f0eff,#da22ff);
}

nav #icon{
    color: white;
    font-size: 25px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 0px;
        margin-top: -80px;
    }
    nav a{
        font-size: 17px;
    }
}
@media(max-width: 1128px){
 nav ul{
     margin-top: -80px;
 }
}
@media(max-width: 909px){
    
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        margin-top: 0px;
        height: 100vh;
        background: #222529;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active, a:hover{
        border: none;
        color: #ee0979;
    }
    nav ul.show{
            left: 0 ;
    }
    nav button{
        display: block;
        margin: 0 290px;
        background: -webkit-linear-gradient(to right #ff6a00,#ee0979);
        background: linear-gradient(to right, #ff6a00,#ee0979);
        transition: all 0.3s ease;
    }
    nav button:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(to right #8f0eff,#da22ff );
    background: linear-gradient(to right, #8f0eff,#da22ff);
    }
    .btn-hero{
        justify-items: center;
        margin-top: 30px;
    }
}

/* Header*/
.hero{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0px;
}    
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}
.hero-heading{
    font-size: 100px;
    margin-bottom:24px ;
    color: #fff;
}
.hero-heading span{
    background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00,#ee0979);
    background: linear-gradient(to right, #ff6a00,#ee0979);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.hero-description{
    font-size: 60px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #9114ff,#da22ff);
    background: linear-gradient(to right,     );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

.btn-hero{
    display: inline-block;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 80px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 4px;
    background: -webkit-linear-gradient(to right #ff6a00,#ee0979);
    background: linear-gradient(to right, #ff6a00,#ee0979);
    transition: all 0.3s ease;
}
/*About*/
.main{
    background: #131313;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 90%;
    width: 100%;
    
}
.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 90%;
    width: 100%;

    padding: 0px 50px;
}
.main_content{
    color: #fff;
    width: 100%;
}
.main_content h1{
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100% );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: 10px;
}
.main_content h2{
    font-size: 80px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #9114ff,#da22ff);
    background: linear-gradient(to right,     );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    word-break: normal;
}
.main_content p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 16px;

}
.btn-content{
   text-decoration: none;
    padding: 1px 60px;
    margin-top: 20px;
    margin-right: 500px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 4px;
    background: -webkit-linear-gradient(to right #ff6a00,#ee0979);
    background: linear-gradient(to right, #ff6a00,#ee0979);
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.btn-content::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #8f0eff;
    transition: all 0.3s;
    border-radius: 4px;
}
.btn-content a{
    position: absolute;
    text-decoration: none;
}
.btn-content:hover{
    color: #fff;
}
.btn-content:hover::after{
    width: 100%;  
}




